@import "../../sassStyles/variables";

.contactsList{
    margin-top: 6rem;
}

.category-tabs{
    display: flex;
    justify-content: space-between;
    position: relative;

    .tab-item{
        text-transform: capitalize;
        font-size: 2.8rem;
        padding: 1rem 3.5rem;
        cursor: pointer;
        transition: color 0.9s;

        &:not(:last-of-type){
            margin-right: 4rem;
        }

        &.active{
        color: #fff;
        }

    }

    .tab-indicator{
        position: absolute;
        z-index: -1;
        height: 100%;
        background-color: $clr-secondary;
        transition: left 0.9s, width 1.2s;
        border-radius: 2rem;
    }
}

.contacts-container{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5rem;
}