@import "../../sassStyles/sass-utils/variables";

.add-contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 2.8rem;
        color: $clr-tertiary;
        margin-bottom: 3.5rem;
    }

    .btn.add-btn {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 600;
        background-color: $clr-secondary;
        padding: 0.8em 1.4em;
        color: #fff;
        border-radius: 2.5rem;
        box-shadow: 0 1rem 2rem rgba($clr-secondary, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 62em) {
    .add-contact-wrapper {
        p {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2.5rem;
        }

        .btn.add-btn {
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width: 24em) {
    .add-contact-wrapper {
        p {
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
        }

        .btn.add-btn {
            font-size: 1.2rem;
        }
    }
}