@import './variables';


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: $font-family;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

img{
    display: block;
}

ul{
    list-style: none;
}

.btn{
    font-family: inherit;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.8em 1.4em;
    color: #fff; 
    border-radius: 2.5rem;
    border:none;
    cursor: pointer;

    &.primary{
        background-color:$clr-secondary ;
    }

    &.secondary{
        background-color:$clr-disabled ;
    }

}
