// colors
$clr-primary:#703EDB;
$clr-secondary:#FF8057;
$clr-tertiary:#444444;

$clr-danger:#FF1A1A;
$clr-success:#51C8A4;

$clr-bg:#fff;
$clr-disabled:#aaa;

//font
$font-family:'Poppins', sans-serif;