@import "../../sassStyles/variables";

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $clr-primary;
    outline: 1rem solid rgba($clr-primary, 0.4);
    // padding:4.5rem 1rem 4.5rem 6rem;
    padding: 3.5em 2.5em;
    border-radius: 1.5rem;
    position: relative;

    .user-image {
        margin-right: 2rem;

        img {
            width: 14rem;
            height: 14rem;
            object-fit: cover;
            border-radius: 50%;
        }
    }



    .user-details {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .general-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            span {
                font-weight: 500;
                word-break: break-all;
                color: #fff;
                font-size: 1.8rem;

                &:not(:last-of-type) {
                    margin-bottom: 2rem;
                }

                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }

        .social-media-details {
            display: flex;
            margin-top: 2.5rem;

            a {
                display: grid;
                place-items: center;
                width: 2em;
                height: 2em;
                background-color: $clr-secondary;
                font-size: 2rem;
                border-radius: 50%;
                color: #fff;
                outline: 5px solid rgba($clr-secondary, 0.4);

                &:not(:last-of-type) {
                    margin-right: 2rem;
                }

            }

            .message {
                font-size: 1.5rem;
                color: #ddd;
            }
        }

    }

    .category {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: $clr-secondary;
        color: #fff;
        padding: 1rem;
        font-size: 1.8rem;
        border-radius: 1.4rem;
        text-transform: capitalize;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;

        .modify-btn {
            padding: 1rem;
            display: grid;
            place-items: center;
            font-size: 2.5rem;
            color: #fff;
            border-radius: 1rem;
            cursor: pointer;
        }

        .delete-btn {
            background-color: #FF1A1A;
            border: none;
            margin-bottom: 1rem;
        }

        .edit-btn {
            background-color: #51C8A4;
        }

    }

}

@media screen and (max-width: 75em) {
    .contact {
        .user-image {
            img {
                width: 10rem;
                height: 10rem;
            }
        }

        .user-details {
            .general-details {
                span {
                    font-size: 1.4rem;

                    &:not(:last-of-type) {
                        margin-bottom: 1.5rem;
                    }
                }


            }

            .social-media-details {
                margin-top: 2rem;
                a {
                    font-size: 1.6rem;
                }

                .message {
                    font-size: 1.3rem;
                }
            }

        }

        .category {
            font-size: 1.4rem;
            border-radius: 1.4rem;
        }

        .btn-group {
            .modify-btn {
                padding: 1rem;
                font-size: 1.8rem;
                border-radius: 1rem;
            }
        }
    }
}


@media screen and (max-width: 36em) {
    .contact {
        padding: 6em 1.5em 3em;
    outline: 0.6rem solid rgba($clr-primary, 0.4);

        .user-details {
            .general-details {
                span {
                    font-size: 1.2rem;

                    &:not(:last-of-type) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }


        .user-image {
            margin-right: 2rem;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 0;

            img {
                width: 8rem;
                height: 8rem;
                box-shadow: 0 0 15px rgba(#000, 0.3);
            }
        }

        .category {
            font-size: 1.2rem;
        }

        .btn-group {
            .modify-btn {
                padding: 0.8rem;
                font-size: 1.5rem;
            }
        }
    }
}


@media screen and (max-width: 24em) {
    .contact {
        padding: 5em 1em 3em;

        .user-details {
            .general-details {
                span {
                    font-size: 1rem;

                    &:not(:last-of-type) {
                        margin-bottom: 1rem;
                    }
                }
            }

            .social-media-details {
                margin-top: 1.5rem;
                a {
                    font-size: 1.2rem;
                    outline: 3px solid rgba($clr-secondary, 0.4);

                    &:not(:last-of-type) {
                        margin-right: 1rem;
                    }
                }

                .message {
                    font-size: 1rem;
                }
            }

        }


        .user-image {
            img {
                width: 8rem;
                height: 8rem;
                box-shadow: 0 0 15px rgba(#000, 0.3);
            }
        }

        .category {
            font-size: 1rem;
            border-radius: 1.2rem;
            padding: 0.8rem;
        }

        

    }

}